{% set title = 'Reset password' %}
{% set body = 'signup-page' %}
{% extends 'templates/core.twig' %}

{% block content %}
    <div class="page-header header-filter"
         style="background-image: url('{{ base_url() }}/img/index.png'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="card card-signup">
                        <h2 class="card-title text-center">Reset password</h2>
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <form class="form" method="post" action="{{ path_for('password.reset', {'hash': hash }) }}">
                                    <div class="card-content">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="material-icons">lock_outline</i></span>
                                            <div class="form-group label-floating is-empty {{ errors.password ? 'has-error is-focused' : '' }} {{ oldInput.password ? 'is-focused' : '' }}">
                                                <label class="control-label">Password</label>
                                                <input type="password" name="password" class="form-control"
                                                       value="{{ oldInput.password }}" title="Password">
                                                <span class="material-input"></span>
                                                {% if errors.password %}
                                                    <span class="material-icons form-control-feedback">clear</span>
                                                    <span class="help-block">{{ errors.password | first }}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="material-icons">lock_outline</i></span>
                                            <div class="form-group label-floating is-empty {{ errors.password_repeat ? 'has-error is-focused' : '' }} {{ oldInput.password_repeat ? 'is-focused' : '' }}">
                                                <label class="control-label">Repeat Password</label>
                                                <input type="password" name="password_repeat" class="form-control"
                                                       value="{{ oldInput.password_repeat }}" title="Password">
                                                <span class="material-input"></span>
                                                {% if errors.password_repeat %}
                                                    <span class="material-icons form-control-feedback">clear</span>
                                                    <span class="help-block">{{ errors.password_repeat | first }}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer text-center">
                                        <button type="submit" href="#" class="btn btn-primary btn-round btn-wd btn-lg">
                                            Reset password
                                        </button>

                                    </div>
                                    {{ csrf.field | raw }}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}