{% extends 'templates/core.twig' %}

{% block content %}
<div class="page-header header-filter" style="background-image: url('{{ base_url() }}/img/index.png'); background-size: cover; background-position: top center;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
                <div class="card card-signup">
                    <form class="form" method="post" action="{{ path_for('password.change') }}" autocomplete="off">
                        <div class="header header-primary text-center">
                            <h4 class="card-title">Change password</h4>
                        </div>
                        <div class="card-content">
                            <div class="input-group">
									<span class="input-group-addon">
										<i class="material-icons">lock_outline</i>
									</span>
                                <div class="form-group label-floating is-empty {{ errors.password_old ? 'has-error is-focused' : '' }} {{ oldInput.password_old ? 'is-focused' : ''}}">
                                    <label class="control-label">Current password</label>
                                    <input type="password" name="password_old" class="form-control" value="{{ oldInput.password_old }}">
                                    <span class="material-input"></span>
                                    {% if errors.password_old %}
                                        <span class="material-icons form-control-feedback">clear</span>
                                        <span class="help-block">{{ errors.password_old | first }}</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="input-group">
									<span class="input-group-addon">
										<i class="material-icons">lock_outline</i>
									</span>
                                <div class="form-group label-floating is-empty {{ errors.password_new ? 'has-error is-focused' : '' }} {{ oldInput.password_new ? 'is-focused' : ''}}">
                                    <label class="control-label">New password</label>
                                    <input type="password" name="password_new" class="form-control" value="{{ oldInput.password_new }}">
                                    <span class="material-input"></span>
                                    {% if errors.password_new %}
                                        <span class="material-icons form-control-feedback">clear</span>
                                        <span class="help-block">{{ errors.password_new | first }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="footer text-center">
                            <button type="submit" href="#" class="btn btn-primary btn-simple btn-wd btn-lg">Change password</button>
                        </div>
                        {{ csrf.field | raw }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}