{% extends 'templates/core.twig' %}

{% block content %}
    <div class="page-header header-filter" style="background-image: url('{{ base_url() }}/img/index.png'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
                    <div class="card card-signup">
                        <form class="form" method="post" action="{{ path_for('signin') }}">
                            <div class="header header-primary text-center">
                                <h4 class="card-title">Sign in</h4>
                            </div>
                            <div class="card-content">
                                <div class="input-group">
									<span class="input-group-addon">
										<i class="material-icons">email</i>
									</span>
                                    <div class="form-group label-floating is-empty {{ errors.email ? 'has-error is-focused' : '' }} {{ oldInput.email ? 'is-focused' : ''}}">
                                        <label class="control-label">Email</label>
                                        <input type="email" name="email" class="form-control" value="{{ oldInput.email }}">
                                        <span class="material-input"></span>
                                        {% if errors.email %}
                                            <span class="material-icons form-control-feedback">clear</span>
                                            <span class="help-block">{{ errors.email | first }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="input-group">
									<span class="input-group-addon">
										<i class="material-icons">lock_outline</i>
									</span>
                                    <div class="form-group label-floating is-empty {{ errors.password ? 'has-error is-focused' : '' }} {{ oldInput.password ? 'is-focused' : ''}}">
                                        <label class="control-label">Password</label>
                                        <input type="password" name="password" class="form-control" value="{{ oldInput.password }}">
                                        <span class="material-input"></span>
                                        {% if errors.password %}
                                            <span class="material-icons form-control-feedback">clear</span>
                                            <span class="help-block">{{ errors.password | first }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="footer text-center">
                                <button type="submit" href="#" class="btn btn-primary btn-simple btn-wd btn-lg">Sign in</button>
                            </div>
                            {{ csrf.field | raw }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}