{% set title = 'Sign up' %}
{% set body = 'signup-page' %}
{% extends 'templates/core.twig' %}

{% block content %}
    <div class="page-header header-filter"
         style="background-image: url('{{ base_url() }}/img/index.png'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="card card-signup">
                        <h2 class="card-title text-center">Sign up</h2>
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <form class="form" method="post" action="{{ path_for('signup') }}" autocomplete="off">
                                    <div class="card-content">
                                            <div class="form-group label-floating is-empty {{ errors.first_name ? 'has-error is-focused' : '' }} {{ oldInput.first_name ? 'is-focused' : '' }}">
                                                <label class="control-label">First name</label>
                                                <input type="text" name="first_name" class="form-control"
                                                       value="{{ oldInput.first_name }}">
                                                <span class="material-input"></span>
                                                {% if errors.first_name %}
                                                    <span class="material-icons form-control-feedback">clear</span>
                                                    <span class="help-block">{{ errors.first_name | first }}</span>
                                                {% endif %}
                                            </div>
                                            <div class="form-group label-floating is-empty {{ errors.last_name ? 'has-error is-focused' : '' }} {{ oldInput.last_name ? 'is-focused' : '' }}">
                                                <label class="control-label">Last name</label>
                                                <input type="text" name="last_name" class="form-control"
                                                       value="{{ oldInput.last_name }}">
                                                <span class="material-input"></span>
                                                {% if errors.last_name %}
                                                    <span class="material-icons form-control-feedback">clear</span>
                                                    <span class="help-block">{{ errors.last_name | first }}</span>
                                                {% endif %}
                                            </div>
                                            <div class="info-title">
                                                <h4>Biography</h4>
                                            </div>
                                            <div class="form-group label-floating is-empty">
                                                <label class="control-label"> You can write your text here...</label>
                                                <input name="bio" class="form-control" >
                                                <span class="material-input"></span>
                                            </div>
                                        <div class="row">
                                        <div class="col-md-6">
                                            <div class="info-title">
                                                <h4>Gender</h4>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="gender"><span class="circle"></span><span
                                                            class="check"></span>
                                                    Male
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="gender"><span class="circle"></span><span
                                                            class="check"></span>
                                                    Female
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="info-title">
                                                <h4>Sex preference</h4>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="sex_preference"><span
                                                            class="circle"></span><span class="check"></span>
                                                    Same
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="sex_preference"><span
                                                            class="circle"></span><span class="check"></span>
                                                    Opposite
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="sex_preference"><span
                                                            class="circle"></span><span class="check"></span>
                                                    Either
                                                </label>
                                            </div>
                                        </div>
                                        </div>

                                        <div class="">
                                            <div class="info-title">
                                                <h4>Interests</h4>
                                            </div>
                                            {#<div class="bootstrap-tagsinput">#}
                                                {#<input type="text" placeholder=""></div>#}
                                            <input type="text" value="Amsterdam" class="tagsinput" data-role="tagsinput"
                                                   data-color="rose" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="footer text-center">
                                        <button type="submit" href="#" class="btn btn-primary btn-round btn-wd btn-lg">
                                            Sign up
                                        </button>
                                    </div>
                                    {{ csrf.field | raw }}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
