{% set title = 'Sign up' %}
{% set body = 'signup-page' %}
{% extends 'templates/core.twig' %}

{% block content %}
    <div class="page-header header-filter"
         style="background-image: url('{{ base_url() }}/img/index.png'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="card card-signup">
                        <h2 class="card-title text-center">Sign up</h2>
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <form class="form" method="post" action="{{ path_for('signup') }}">
                                    <div class="card-content">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="material-icons">face</i></span>
                                            <div class="form-group label-floating is-empty {{ errors.username ? 'has-error is-focused' : '' }} {{ oldInput.username ? 'is-focused' : '' }}">
                                                <label class="control-label">Username</label>
                                                <input type="text" name="username" class="form-control"
                                                       value="{{ oldInput.username }}" title="Username">
                                                <span class="material-input"></span>
                                                {% if errors.username %}
                                                    <span class="material-icons form-control-feedback">clear</span>
                                                    <span class="help-block">{{ errors.username | first }}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="material-icons">email</i></span>
                                            <div class="form-group label-floating is-empty {{ errors.email ? 'has-error is-focused' : '' }} {{ oldInput.email ? 'is-focused' : '' }}">
                                                <label class="control-label">Email</label>
                                                <input type="email" name="email" class="form-control"
                                                       value="{{ oldInput.email }}" title="Email">
                                                <span class="material-input"></span>
                                                {% if errors.email %}
                                                    <span class="material-icons form-control-feedback">clear</span>
                                                    <span class="help-block">{{ errors.email | first }}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i
                                                        class="material-icons">lock_outline</i></span>
                                            <div class="form-group label-floating is-empty {{ errors.password ? 'has-error is-focused' : '' }} {{ oldInput.password ? 'is-focused' : '' }}">
                                                <label class="control-label">Password</label>
                                                <input type="password" name="password" class="form-control"
                                                       value="{{ oldInput.password }}" title="Password">
                                                <span class="material-input"></span>
                                                {% if errors.password %}
                                                    <span class="material-icons form-control-feedback">clear</span>
                                                    <span class="help-block">{{ errors.password | first }}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="agree" checked>
                                                I agree to the <a href="{{ path_for('terms') }}">terms and conditions</a>.
                                            </label>
                                        </div>
                                    </div>
                                    <div class="footer text-center">
                                        <button type="submit" href="#" class="btn btn-primary">
                                            Sign up
                                        </button>
                                        <hr>
                                        <a href="{{ fb }}" class="btn btn-facebook">Sign up with Facebook!</a>
                                    </div>
                                    {{ csrf.field | raw }}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}