{% set title = 'Tell about yourself' %}
{% set body = 'signup-page' %}
{% extends 'templates/core.twig' %}

{% block content %}
<div class="page-header header-filter"
     style="background-image: url('{{ base_url() }}/img/index.png'); background-size: cover; background-position: top center;">
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="card card-signup">
                    <h2 class="card-title text-center">Tell about yourself</h2>
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <form class="form" method="post" action="{{ path_for('signup.info') }}">
                                <div class="card-content">
                                    <div class="form-group label-floating is-empty {{ errors.first_name ? 'has-error is-focused' : '' }} {{ oldInput.first_name ? 'is-focused' : '' }}">
                                        <label class="control-label">First name</label>
                                        <input type="text" name="first_name" class="form-control"
                                               value="{{ oldInput.first_name == null ? user.first_name : oldInput.first_name }}">
                                        <span class="material-input"></span>
                                        {% if errors.first_name %}
                                            <span class="material-icons form-control-feedback">clear</span>
                                            <span class="help-block">{{ errors.first_name | first }}</span>
                                        {% endif %}
                                    </div>
                                    <div class="form-group label-floating is-empty {{ errors.last_name ? 'has-error is-focused' : '' }} {{ oldInput.last_name ? 'is-focused' : '' }}">
                                        <label class="control-label">Last name</label>
                                        <input type="text" name="last_name" class="form-control"
                                               value="{{ oldInput.last_name == null ? user.last_name : oldInput.last_name }}">
                                        <span class="material-input"></span>
                                        {% if errors.last_name %}
                                            <span class="material-icons form-control-feedback">clear</span>
                                            <span class="help-block">{{ errors.last_name | first }}</span>
                                        {% endif %}
                                    </div>
                                    <div class="form-group label-floating is-empty {{ errors.city ? 'has-error is-focused' : '' }} {{ oldInput.city ? 'is-focused' : '' }}">
                                        <label class="control-label">City</label>
                                        <input type="text" name="city" class="form-control"
                                               value="{{ oldInput.city == null ? user.city : oldInput.city }}">
                                        <span class="material-input"></span>
                                        {% if errors.city %}
                                            <span class="material-icons form-control-feedback">clear</span>
                                            <span class="help-block">{{ errors.city | first }}</span>
                                        {% endif %}
                                    </div>

                                    <div class="form-group label-floating is-empty is-focused">
                                        <label class="control-label">Birthday</label>
                                        <input type="text" name="date" class="form-control datepicker" value="{{ oldInput.date == null ? user.date : oldInput.date }}">
                                        <span class="material-input"></span>
                                        {% if errors.date %}
                                            <span class="material-icons form-control-feedback">clear</span>
                                            <span class="help-block">{{ errors.date | first }}</span>
                                        {% endif %}
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <select name="gender" class="selectpicker"
                                                    data-style="btn btn-primary btn-round" title="Gender" data-size="3">
                                                <option value="male" {{ user.gender == 'male' ? 'selected' : '' }}>Male</option>
                                                <option value="female" {{ user.gender == 'female' ? 'selected' : '' }}>Female</option>
                                            </select>
                                            {% if errors.gender %}
                                                <span class="help-block">{{ errors.gender | first }}</span>
                                            {% endif %}
                                        </div>
                                        <div class="col-sm-6">
                                            <select name="sex_preference" class="selectpicker"
                                                    data-style="btn btn-primary btn-round" title="Sex preference"
                                                    data-size="3">
                                                <option value="heterosexual">Heterosexual</option>
                                                <option value="homosexual">Homosexual</option>
                                                <option value="bisexual">Bisexual</option>
                                            </select>
                                            {% if errors.sex_preference %}
                                                <span class="help-block">{{ errors.sex_preference | first }}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group label-floating is-empty" id="tagsinput">
                                        <label class="control-label">Write your interests, separated by
                                            commas</label>
                                        <input name="tags" type="text" value="" class="tagsinput" data-role="tagsinput"
                                               data-color="rose" style="display: none;">
                                        <span class="material-input"></span>
                                    </div>
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"> Biography</label>
                                        <textarea name="bio" class="form-control textarea-limited" rows="3"
                                                  maxlength="150"></textarea>
                                        <span class="material-input"></span>
                                        <h5>
                                            <small><span id="textarea-limited-message" class="pull-right">150 characters left</span>
                                            </small>
                                        </h5>
                                    </div>
                                </div>
                                <div class="footer text-center">
                                    <button type="submit" href="#" class="btn btn-primary btn-round btn-wd btn-lg">
                                        Next step
                                    </button>
                                </div>
                                {{ csrf.field | raw }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}