{#<div class="modal fade" id="ChangePasswordModal" tabindex="-1" role="dialog" aria-labelledby="ChangePasswordModalLabel" aria-hidden="true" style="display: none;">#}
    {#<div class="modal-dialog modal-login">#}
        {#<div class="modal-content">#}
            {#<div class="card card-signup card-plain">#}

                {#<div class="modal-header">#}
                    {#<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>#}

                    {#<div class="header header-primary text-center">#}
                        {#<h4 class="card-title">Change password</h4>#}
                    {#</div>#}
                {#</div>#}

                {#<div class="modal-body">#}
                    {#<form class="form" method="post" action="{{ path_for('user.password.change') }}">#}
                        {#<div class="card-content">#}

                            {#<div class="input-group">#}
								{#<span class="input-group-addon">#}
									{#<i class="material-icons">face</i>#}
								{#</span>#}
                                {#<div class="form-group is-empty"><input type="text" class="form-control" placeholder="First Name..."><span class="material-input"></span></div>#}
                            {#</div>#}

                            {#<div class="input-group">#}
                                {#<span class="input-group-addon"><i class="material-icons">lock_outline</i></span>#}
                                {#<div class="form-group label-floating is-empty {{ errors.password_repeat ? 'has-error is-focused' : '' }} {{ oldInput.password_repeat ? 'is-focused' : '' }}">#}
                                    {#<label class="control-label">Repeat Password</label>#}
                                    {#<input type="password" name="password_repeat" class="form-control"#}
                                           {#value="{{ oldInput.password_repeat }}" title="Password">#}
                                    {#<span class="material-input"></span>#}
                                    {#{% if errors.password_repeat %}#}
                                        {#<span class="material-icons form-control-feedback">clear</span>#}
                                        {#<span class="help-block">{{ errors.password_repeat | first }}</span>#}
                                    {#{% endif %}#}
                                {#</div>#}
                            {#</div>#}

                        {#</div>#}
                        {#{{ csrf.field | raw }}#}
                    {#</form>#}
                {#</div>#}
                {#<div class="modal-footer text-center">#}
                    {#<button class="btn btn-primary btn-simple btn-wd btn-lg">Change password</button>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</div>#}

<div class="modal fade" id="ChangePasswordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>

                    <div class="header header-primary text-center">
                        <h4 class="card-title">Log in</h4>
                        <div class="social-line">
                            <a href="#pablo" class="btn btn-just-icon btn-simple">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a href="#pablo" class="btn btn-just-icon btn-simple">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#pablo" class="btn btn-just-icon btn-simple">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <form class="form" method="" action="">
                        <p class="description text-center">Or Be Classical</p>
                        <div class="card-content">

                            <div class="input-group">
								<span class="input-group-addon">
									<i class="material-icons">face</i>
								</span>
                                <div class="form-group is-empty"><input type="text" class="form-control" placeholder="First Name..."><span class="material-input"></span></div>
                            </div>

                            <div class="input-group">
								<span class="input-group-addon">
									<i class="material-icons">email</i>
								</span>
                                <div class="form-group is-empty"><input type="text" class="form-control" placeholder="Email..."><span class="material-input"></span></div>
                            </div>

                            <div class="input-group">
								<span class="input-group-addon">
									<i class="material-icons">lock_outline</i>
								</span>
                                <div class="form-group is-empty"><input type="password" placeholder="Password..." class="form-control"><span class="material-input"></span></div>
                            </div>

                            <!-- If you want to add a checkbox to this form, uncomment this code

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="optionsCheckboxes" checked>
                                    Subscribe to newsletter
                                </label>
                            </div> -->
                        </div>
                    </form>
                </div>
                <div class="modal-footer text-center">
                    <a href="#pablo" class="btn btn-primary btn-simple btn-wd btn-lg">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</div>