{% extends 'templates/core.twig' %}
{% set title = user.username %}
{% set body = 'profile-page' %}

{% block content %}
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('{{ base_url() }}/img/index.png');"></div>

    <div class="main main-raised">
        <div class="profile-content">


            <div class="dropdown">
                <button class="dropdown-toggle btn btn-xs btn-simple btn-dots" data-toggle="dropdown"><i class="material-icons">more_vert</i></button>
                {#<button href="#pablo" class="dropdown-toggle btn btn-primary btn-round btn-block" data-toggle="dropdown" aria-expanded="true">Dropdown <b class="caret"></b><div class="ripple-container"></div></button>#}
                <ul class="dropdown-menu dropdown-menu-left">
                    {#<li><a href="{{ path_for('user.block', {name: user.name}) }}">Block user</a></li>#}
                    {#<li><a href="{{ path_for('user.report', {name: user.name}) }}">Report as fake</a></li>#}
                </ul>
            </div>



            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="profile">
                            <div class="avatar">
                                {% if user.profile_photo %}
                                    <img src="{{ base_url() ~ "/uploads/" ~ user.username ~ "/200x200_" ~ user.profile_photo }}" alt="" class="img-circle img-responsive img-raised">
                                {% else %}
                                    <img src="{{ base_url() ~ "/img/placeholder.jpg" }}" alt="" class="img-circle img-responsive img-raised">
                                {% endif %}
                            </div>
                            <div class="name text-center">
                                <h3 class="title">
                                    {{ user.first_name|capitalize ~ ' ' ~ user.last_name|capitalize }}
                                    {#<i class="material-icons">fiber_manual_record</i>#}
                                </h3>
                                    {% if user.online == 1 %}
                                        <span>online</span>
                                    {% else %}
                                        <span id="last-online" data-toggle="tooltip" data-placement="top" title="" data-container="body" data-date="{{ user.updated_at }}" data-original-title="">offline</span>
                                    {% endif %}
                            </div>
                        </div>
                        <br/>
                        <div class="profile-info list-unstyled">
                            <li><i class="material-icons">whatshot</i>{{ user.rating }}
                            </li>
                            <li><i class="material-icons">room</i>{{ user.city }}</li>
                            <li data-date="{{ user.date }}" id="birthday">
                                <i class="material-icons">date_range</i>
                            </li>
                            <li><i class="material-icons">wc</i> {{ user.gender }}</li>
                            <li><i class="material-icons">people</i> {{ user.sex_preference }}</li>
                        </div>
                        <script>
                            $(function (){
                                $('#birthday').append(moment($('#birthday').data('date')).toNow(true));
//                                console.log(moment($('#last-online').data('date')).fromNow())
                                $('#last-online').attr('title', 'Last online ' + moment($('#last-online').data('date')).fromNow())
                            })
                        </script>
                    </div>
                    {#<div class="col-xs-2 follow">#}
                        {#{% if user.id != auth.user.id %}#}
                            {#<form action="{{ path_for('like.toggle', {id: user.id }) }}" method="post">#}
                                    {#<button id="like" type="submit" class="btn btn-fab {{ isLiked ? '' : 'btn-rose' }}"data-user="{{ user.id }}">#}
                                        {#<i class="material-icons">favorite</i>#}
                                    {#</button>#}
                            {#<script>#}
                                {#$(function () {#}
                                    {#let btn = $('#like')#}
                                        {#btn.on('click', function () {#}
                                        {#let url = '/like/toggle/' + $(this).data('user')#}
                                        {#$.ajax({#}
                                            {#method: 'post',#}
                                            {#url: url#}
                                        {#});#}
                                        {#btn.toggleClass('btn-rose')#}
                                    {#})#}
                                {#})#}
                            {#</script>#}
                            {#</form>#}
                        {#{% endif %}#}
                        {#{% if isMutually %}#}
                            {#<a href="{{ path_for('messages.chat', {name: user.username}) }}" class="btn btn-fab btn-rose" rel="tooltip" title="" data-original-title="Send message">#}
                                {#<i class="material-icons">email</i>#}
                            {#</a>#}
                        {#{% else %}#}
                            {#<button class="btn bnt-disabled btn-fab btn-rose" rel="tooltip" title="" data-original-title="To write a message you need mutual sympathy!" data-toggle="modal" data-target="#InfoModal">#}
                                {#<i class="material-icons">email</i>#}
                            {#</button>#}
                        {#{% endif %}#}

                    {#</div>#}
                </div>
                <div class="row">
                    <div class="interests">
                        {% for tag in user.tags %}
                            <a href="{{ path_for('search.tag', {id: tag.id}) }}"><span class="label label-default">#{{ tag.tag }}</span></a>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="description text-center">
                            <p>{{ user.bio }}</p>
                        </div>
                        {#<div class="text-center">#}
                            {#<button class="btn btn-rose btn-round">#}
                                {#<i class="material-icons">favorite</i> Like#}
                                {#<div class="ripple-container"></div>#}
                            {#</button>#}
                            {#<button class="btn btn-rose btn-round">#}
                                {#<i class="material-icons">email</i> message#}
                                {#<div class="ripple-container"></div>#}
                            {#</button>#}
                        {#</div>#}
                    </div>
                </div>
                <div class="row profile-buttons">
                    {% if user.id != auth.user.id %}
                        <button id="like" class="btn {{ isLiked ? '' : 'btn-rose' }}" data-user="{{ user.id }}">
                            <i class="material-icons">favorite</i>
                        </button>
                        <script>
                            $(function () {
                                let btn = $('#like')
                                btn.on('click', function () {
                                    let url = '/like/toggle/' + $(this).data('user')
                                    $.ajax({
                                        method: 'post',
                                        url: url
                                    });
                                    btn.toggleClass('btn-rose')
                                })
                            })
                        </script>
                        {% if isMutually %}
                            <a href="{{ path_for('messages.chat', {name: user.username}) }}" class="btn btn-rose" rel="tooltip" title="" data-original-title="Send message">
                                <i class="material-icons">email</i>
                            </a>
                        {% else %}
                            <button class="btn btn-disabled btn-rose" rel="tooltip" title="" data-original-title="To write a message you need mutual sympathy!" data-toggle="modal" data-target="#InfoModal">
                                <i class="material-icons">email</i>
                            </button>
                        {% endif %}
                    {% endif %}
                </div>
                <hr>
                <div class="row gallery">
                    {% for photo in user.photos %}
                        <img src="{{ base_url() }}/uploads/{{ user.username }}/{{ photo.photo }}" class="gallery-img"/>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="InfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-small ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                </div>
                <div class="modal-body text-center">
                    <h5>To write a message you need mutual sympathy!</h5>
                </div>
                    <div class="modal-footer text-center">
                        <button type="button" data-dismiss="modal" class="btn btn-info btn-simple">Ok</button>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}