<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>{{title}}</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:image" content="img/favicon/android-icon-192x192.png">
    <link rel="shortcut icon" href="{{ base_url() }}/img/favicon/favicon.ico" type="image/x-icon">

    <link rel="apple-touch-icon" sizes="72x72" href="{{ base_url() }}/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ base_url() }}/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ base_url() }}/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ base_url() }}/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ base_url() }}/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ base_url() }}/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ base_url() }}/img/favicon/favicon-16x16.png">

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#000">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#000">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">

    <style>
        body {
            opacity: 0;
            overflow-x: hidden;
        }

        html {
            background-color: #fff;
        }
        footer {
            position: absolute;
            bottom: 0;
        }
    </style>
</head>

<body class="{{ body }}">
{% include '/templates/flash.twig' %}
{% include '/templates/navigation.twig' %}
{% block content %} {% endblock %}
{% include '/templates/footer.twig' %}
<link rel="stylesheet" href="{{ base_url() }}/css/main.min.css">
<script src="{{ base_url() }}/js/scripts.min.js"></script>

</body>
</html>